html,
body {
    /*to remove white spaces around the web */
    margin: 0px;
    padding: 0px;

}

.body {
    /*for bg pic */
    height: 91.7vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url(BG\ FLower.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
    color: #E32070;
    position: relative;
}

.body h1 {
    /*for web name */
    font-weight: 800;
    font-size: 50px;
    margin: 0;
    position: relative;
    right: -100px;
    bottom: 100px;
    font-size: 60px;

}

.body p {
    /*for web description */
    margin: 10px;
    position: relative;
    right: -100px;
    bottom: 100px;
    font-size: 30px;

}

.animation {
    /*for animation of h1  */
    opacity: 0;
    transform: translateX(-30px);
    animation: fadeSlide 1s ease-out forwards;
}

@keyframes fadeSlide {

    /*for animation of h1 */
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.animation2 {
    /*for animation of p */
    opacity: 0;
    transform: translateX(-30px);
    animation: fadeSlide 1.5s ease-out forwards;
}

@keyframes fadeSlide {

    /*for animation of p */
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.navbar {
    /*for seperation of logo and navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffa7d2;
    padding: 15px 30px;
}

.navbar ul {
    /*for navbar only */
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 20px;

}

.navbar a {
    /*for navbar design */
    color: #E32070;
    text-decoration: none;
    padding: 5px;

}

.navbar a:hover {
    /*for navbar animation */
    color: #E32070;
    text-decoration: underline;
    transition: 0.3s ease;
}
.logo {
    /*for logo only */
    color: #E32070;
    font-size: larger;
    font-weight: 800;
    cursor: pointer;
}
.logo:hover {
    /*for logo animation*/
    color: #ffd2e8;
}